<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>MarketGo</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/app.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/palmar.css"/>

    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/vue.min.js"></script>
</head>
<body>

<img src="/market-go-logo-new-ext.png" class="main-logo"/>

<div id="app" v-cloak>

    <div class="tab-selectors">
        <button :class="{'tab-link': true, 'active': (visibleTab === 'client-view')}"
                @click="visibleTab = 'client-view'">Client view
        </button>
        <button :class="{'tab-link': true, 'active': (visibleTab === 'staff-view')}"
                @click="visibleTab = 'staff-view'">Staff view
        </button>
    </div>

    <div id="client-view" :hidden="visibleTab !== 'client-view'">
        <div class="devices-group">
            <div class="device shelf" v-for="shelf in devices.shelves">
                <label class="device-label">Shelf {{shelf.idx}}</label>
                <input :value="shelf.quantity" readonly/>
                <div class="buttons">
                    <button @click="updateShelf(shelf, shelf.quantity - 1)">-</button>
                    <button @click="updateShelf(shelf, shelf.quantity + 1)">+</button>
                </div>
            </div>
            <div class="device palmar">
                <label class="palmar-label">{{devices.clientPalmar.name}}'s palmar</label>
                <div class="display">
                    <div class="notification">
                        <h4 class="palmar-message">Logged in as {{devices.clientPalmar.name}}</h4>
                    </div>
                    <button class="palmar-gui-button error" @click="sendHelpRequest(devices.clientPalmar)">ask for help</button>
                </div>
                <div class="home-button" @click="alert('not implemented yet')"></div>
            </div>

        </div>
    </div>

    <div id="staff-view" :hidden="visibleTab !== 'staff-view'">
        <div class="devices-group">
            <palmar class="device palmar" v-for="palmar in devices.staffPalmars" :palmar="palmar"></palmar>
        </div>
    </div>

</div>

<div class="waiting-spinner"></div>

</body>
</html>