<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>MarketGo</title>

    <link type="text/css" rel="stylesheet" href="/app.css"/>

    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/vue.min.js"></script>
    <script type="text/javascript" src="/jquery.min.js"></script>
</head>
<body>

<div id="app">
    <img src="/market-go-logo.png" class="main-logo"/>

    <div class="tab-selectors">
        <button id="client-view-button" :class="{'tab-link': true, 'active': (visibleTab === 'client-view')}"
                @click="visibleTab = 'client-view'">Client view</button>
        <button id="staff-view-button" :class="{'tab-link': true, 'active': (visibleTab === 'staff-view')}"
                @click="visibleTab = 'staff-view'">Staff view</button>
    </div>

    <div id="client-view" :hidden="visibleTab !== 'client-view'">
        <div class="devices-group">
            <div class="device shelf" v-for="shelf in devices.shelves">
                <label class="device-label">Shelf {{shelf.idx}}</label>
                <input :value="shelf.quantity" readonly/>
                <div class="buttons">
                    <button @click="updateShelf(shelf, shelf.quantity - 1)">-</button>
                    <button @click="updateShelf(shelf, shelf.quantity + 1)">+</button>
                </div>
            </div>
        </div>
    </div>

    <div id="staff-view" :hidden="visibleTab !== 'staff-view'">
        <div class="devices-group">
            <div class="device staff-palmar" v-for="palmar in devices.staffPalmars">
                <label class="staff-palmar-label">Palmar {{palmar.idx}}</label>
                <div class="display">
                    <h4 v-if="palmar.notifications.length === 0">No notifications to display</h4>
                    <div class="notification" v-for="notification in palmar.notifications">
                        <p>{{notification.action}} shelf "{{notification.idx}}"</p>
                        <button>done</button>
                    </div>
                </div>
                <div class="home-button"></div>
            </div>
        </div>
    </div>

    <div class="waiting-spinner"></div>
</div>

</body>
</html>