[v-cloak] {
    display: none;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

html {
    margin: 0 auto;
}

body {
    margin: 0 auto;
}

:focus {
    outline: 0;
}

button {
    cursor: pointer;
}

.main-logo {
    width: 900px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tab-selectors {
    color: white;
    overflow: hidden;
    border: 1px solid #ccc;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0093D1;
}

.tab-selectors .tab-link {
    width: 50%;
    color: inherit;
    background-color: inherit;
    float: left;
    border: none;
    padding: 14px 16px;
    font-size: 25px;
    transition: 0.4s;
}

.tab-selectors .tab-link:hover {
    background-color: #ddd;
}

.tab-selectors .tab-link.active {
    background-color: #004C70;
    color: white;
}

.devices-group {
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
}

.device {
    margin-right: 20px;
    margin-left: 20px;
}

.device-label {
    text-align: left;
    font-size: 1.2em;
}

.waiting-spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid lightgray;
    border-top: 20px solid black;
    position: fixed;
    right: 10px;
    bottom: 10px;
    animation: spinner 0.8s linear infinite;
    -webkit-animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
