[v-cloak] {
    display: none;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

html {
    margin: 0 auto;
}

body {
    margin: 0 auto;
    width: 1280px;
}

:focus {
    outline: 0;
}

.app-container {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    text-align: center;
}

button {
    cursor: pointer;
}

.main-logo {
    width: 900px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tab-selectors {
    color: white;
    overflow: hidden;
    border: 1px solid #ccc;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0093D1;
}

.tab-selectors .tab-link {
    width: 50%;
    color: inherit;
    background-color: inherit;
    float: left;
    border: none;
    padding: 8px;
    font-size: 23px;
    transition: 0.4s;
    -webkit-transform: translateZ(0);
}

.tab-selectors .tab-link:hover {
    background-color: #ddd;
}

.tab-selectors .tab-link.active {
    background-color: #004C70;
    color: white;
}

.devices-group {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    text-align: center;
    flex-wrap: wrap;
}

.user-group {
    justify-content: center;

    margin-right: 20px;
}

.shelves-group {
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.device {
    margin: 8px 20px 5px;
}

.device-label {
    font-size: 1.1em;
}

.waiting-spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid lightgray;
    border-top: 20px solid black;
    position: fixed;
    right: 10px;
    bottom: 10px;
    animation: spinner 0.8s linear infinite;
    -webkit-animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-height: 800px) {
    .shelves-group {
        width: 100%;
        justify-content: center;
    }

    .app-container {
        display: inherit;
    }

    .device {
        margin: 16px;
    }
}