.cart {
    margin-left: 50px;
    position: relative;
    top: 120px;
    display: flex;
}

.cart-grip {
    position: relative;
    left: -22px;
    width: 70px;
    height: 20px;
    border-radius: 10px 3px 3px 10px;
    background-color: dimgray;
}

.cart-before {
    position: relative;
    left: 5px;
    width: 10px;
    height: 209px;
    border-radius: 0 0 0 10px;
    transform: rotate(-10deg);
    transform-origin: bottom;
    background-color: dimgray;
}

.cart-dropzone {
    border-bottom: 8px solid dimgray;
    border-top: none;

    left: 80px;
    height: 200px;
    width: 265px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.cart-after {
    position: relative;
    right: 5px;
    width: 10px;
    height: 208px;
    border-radius: 10px 10px 10px 0;
    transform: rotate(10deg);
    transform-origin: bottom;
    background-color: dimgray;
}

.cart-first-wheel {
    position: absolute;
    top: 215px;
    left: 92px;
    height: 36px;
    width: 36px;
    border: 12px solid black;
    border-radius: 50%;
}

.cart-second-wheel {
    position: absolute;
    top: 215px;
    right: 25px;
    height: 36px;
    width: 36px;
    border: 12px solid black;
    border-radius: 50%;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}