.cart {
    position: relative;
    top: 150px;
    border: 8px solid dimgray;
    border-radius: 0 0 20px 20px;
    border-top: none;

    height: 200px;
    width: 300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}