.palmar {
    position: relative;
    padding-top: 8px;
    text-align: center;
    border: 6px solid black;
    border-radius: 20px;
    width: 190px;
    height: 380px;
    background-color: darkcyan;
}

.palmar label {
    color: black;
}

.palmar .display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 4px solid black;
    height: 80%;
    width: 96%;
    overflow-y: scroll;
}

.palmar .home-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 2px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    width: 28px;
    height: 28px;
}

.notification {
    font-size: 15px;
    margin: 0.33em;
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 0.3em;
    text-align: left;
}

.palmar-message {
    padding: 0;
    margin: 4px;
}

.palmar-gui-button {
    padding: 0.2em 0.3em 0.2em 0.3em;
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    margin: 7px auto 7px auto;

}

.palmar-label {
    font-size: 1.2em;
}

.success {
    background-color: #4CAF50;
    color: white;
}

.warning {
    background-color: #ffd700;
    color: black;
}

.error {
    background-color: #F2635F;
    color: black;
}

.pay {
    background-color: #0093D1;
    color: white;
}

.palmar-gui-button:hover {
    transition: 0.2s;
    background-color: white;
    color: black
}

.x-close {
    color: red;
    cursor: pointer;
}

.new-notification-animation {
    animation: fadein 1.2s linear 1;
    -webkit-animation: fadein 1.2s linear 1;
}

@keyframes fadein {
    from {
        opacity: 0.4;
        background-color: #4CAF50;
    }

    to {
        opacity: 1;
        background-color: inherit;
    }
}

.expand-ingredients-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.expand-ingredients-link:hover {
    color: red;
}

.palmar-info-list {
    margin: 2px;
    padding-left: 25px;
}

.palmar-warning {
    padding: 3px;
    font-size: 15px;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: red;
}

#client-palmar {
    cursor: grab;
    background-color: darkorange;
    border-color: black;
    color: black;
}

#client-palmar label {
    color: black;
}

#client-palmar.dragging {
    background-color: dodgerblue;
}

.rating {
    width: 90%;
}

.star-rating__checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.star-rating__star {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.5em;
    color: #ababab;
    transition: color 0.2s ease-out;
}
.star-rating__star:hover {
    cursor: pointer;
}
.star-rating__star.is-selected {
    color: #ffd700 !important;
}

.star-rating__star.is-disabled:hover {
    cursor: default;
}

button#send-star-rating {
    margin: 0 auto;
}