.palmar {
    padding-top: 8px;
    text-align: center;
    border: 6px solid black;
    border-radius: 20px;
    width: 150px;
    height: 300px;
    background-color: darkcyan;
}

.palmar label {
    color: white;
}

.palmar .display {
    background-color: white;
    border: 4px solid black;
    top: 50%;
    height: 80%;
    overflow-y: scroll;
}

.palmar .home-button {
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 22px;
    height: 22px;
}

.notification {
    font-size: 14px;
    margin: 0.25em;
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 0.3em;
    text-align: left;
}

.palmar-message {
    padding: 0;
    margin: 2px;
}

.palmar-gui-button {
    padding: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
}

.palmar-label {
    font-size: 1.2em;
}

.success {
    background-color: #4CAF50;
    color: white;
}

.success:hover {
    transition: 0.6s;
    background-color: #0093D1;
}

.error {
    background-color: #F2635F;
    color: black;
}

.error:hover {
    transition: 0.6s;
    background-color: #0093D1;
}

#client-palmar {
    cursor: grab;
    background-color: darkorange;
    border-color: black;
    color: black;
}

#client-palmar label {
    color: black;
}

#client-palmar.dragging {
    background-color: dodgerblue;
}

.x-close {
    color: red;
    cursor: pointer;
}

.new-notification-animation {
    animation: fadein 1s linear 1;
    -webkit-animation: fadein 1s linear 1;
}

@keyframes fadein {
    from {
        opacity: 0.4;
        background-color: #4CAF50;
    }

    to {
        opacity: 1;
        background-color: inherit;
    }
}