.product {
    align-self: flex-end;
    border: 3px solid black;
    border-radius: 10px;
    cursor: grab;
    width: 64px;
    height: 64px;
    margin: 6px;
}

.product img {
    max-width: 100%;
    max-height: 100%;
}

.product span {
    vertical-align: super;
}

.dragover {
    transition: 0.1s;
    background-color: blue;
}