.product {
    box-sizing: border-box;
    border: 2px solid black;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dragover {
    transition: 0.3s;
    background-color: skyblue;
}