.product {
    align-self: flex-end;
    border: 3px solid black;
    border-radius: 10px;
    cursor: grab;
    width: 52px;
    height: 52px;
    margin: 4px;
}

.product img {
    max-width: 100%;
    max-height: 100%;
}

.product span {
    vertical-align: super;
}

.dragover {
    transition: 0.1s;
    background-color: blue;
}

@media screen and (min-height: 800px) {
    .product {
        width: 64px;
        height: 64px;
        margin: 5px;
    }
}