.shelf {
    position: relative;
    border: 8px solid #474849;
    border-radius: 20px;
    padding: 13px;
    width: 200px;
    height: 200px;
}

.products {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bottom-hr {
    margin: 6px;
}

.shelf-button {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid gray;
    color: black;
    font-size: 20px;
    border-radius: 25px;
    width: 30%;
    background-color: #0093D1;
}

.shelf-button:hover {
    background-color: #F2635F;
}

@media screen and (min-height: 900px) {
    .shelf {
        width: 250px;
        height: 235px;
    }

    .shelf-button {
        bottom: 6px;

    }
}
