.shelf {
    position: relative;
    border: 8px solid #474849;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    height: 240px;
    vertical-align: top;
}

.products {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.shelf-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid gray;
    color: black;
    font-size: 20px;
    border-radius: 25px;
    width: 30%;
    background-color:  #0093D1;
}

.shelf-button:hover {
    background-color: #F2635F;
}