html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: super;
}

:focus {
    outline: 0;
}

button {
    cursor: pointer;
}

.main-logo {
    width: 850px;
    height: 320px;
    display: block;
}

.tab-selectors {
    color: white;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #0093D1;
}

.tab-selectors .tab-link {
    color: inherit;
    background-color: inherit;
    float: left;
    border: none;
    padding: 14px 16px;
    font-size: 17px;
    transition: 0.4s;
}

.tab-selectors .tab-link:hover {
    background-color: #ddd;
}

.tab-selectors .tab-link.active {
    background-color: #004C70;
    color: white;
}

.devices-group {
    margin-top: 20px;
    text-align: center;
}

.device {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.shelf {
    border: 5px solid #F2635F;
    border-radius: 5% 25% 5% 5%;
    padding: 20px 20px 20px 20px;
}

.shelf input {
    font-size: 20px;
    width: 150px;
    margin: 6% 0 6% 0;
}

.shelf .buttons button {
    border: 2px solid lightgray;
    color: white;
    font-size: 20px;
    border-radius: 25%;
    width: 30%;
    background-color:  #0093D1;
}

.shelf .buttons button:hover {
    background-color: #F2635F;
}

.staff-palmar {
    padding-top: 8px;
    text-align: center;
    border: 6px solid silver;
    border-radius: 20px;
    width: 150px;
    height: 300px;
    background-color: black;
}

.staff-palmar label {
    color: white;
}

.staff-palmar .display {
    background-color: white;
    border: 4px solid black;
    top: 50%;
    height: 80%;
    overflow-y: scroll;
}

.staff-palmar .home-button {
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 22px;
    height: 22px;
}

.notification {
    box-sizing: border-box;
    border: 2px solid darkgray;
}

.device-label {
    display: block;
    text-align: left;
}

.waiting-spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid lightgray;
    border-top: 20px solid black;
    position: fixed;
    right: 10px;
    bottom: 10px;
    animation: spinner 0.8s linear infinite;
    -webkit-animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}